.git
.gitignore
.idea
.DS_Store

**/__pycache__
**/*.py[cod]

spug_web/node_modules
spug_web/build
spug_web/coverage

spug_api/db.sqlite3
spug_api/logs
spug_api/storage

docs/docker/.env
docs/docker/data
